.modal-body{
    div{
        #disableUserButton{
            background: #E9424D;
            color: #FEFAFA;
            border-width: 0;
        }
        #cancelDisableUserButton{
            background: #FAFCFC;
            color: #7e8183;
            border-color: #7e8183;
        }
    }
}
#modalText{
    padding-left: 26px;
}
