.body-section {
    margin-top: 100px;
    display: flex;
    .body-content {
        padding-top: 60px;
    }
    h3 {
        margin-bottom: 20px;
        color: #dc3545;
        font-weight: 700;
    }
}
