.modal-backdrop {
    background: rgba(255, 255, 255, 20) !important;
}

.modal-content {
    border-color: #8d8f91 !important;
    border-width: 1px !important;
}
.modal-header {
    background: #eff1f5;
    color: #cf283d;
    border-color: #8d8f91 !important;
    padding: 15px !important;
    .modal-title {
        padding: 0 20px;
        font-weight: 700;
        font-size: 20px;
    }
}
.modal-dialog {
    width: 250px !important;
}
.modal-footer {
    flex-direction: column !important;
    background: #fafcfc;
    color: #4d5154;
    border-width: 0 !important;
    padding: 15px !important;
    div {
        margin: 0;
        .primaryButton {
            background: #e9424d;
            color: #fefafa;
            margin: 0 5px;
        }
        .secondaryButton {
            background: #fafcfc;
            color: #e9424d;
            border-color: #e9424d;
            margin: 0 5px;
        }
    }
}
