.container{
    width: 1200px !important;
    margin-left: 100px !important;
}
table {
    border-collapse: separate !important;
    border-spacing: 12px 0 !important;
    font-size: 16px !important;

}
table > :not(caption) > * > *{
    padding: 0px !important;
}
.table-content tr{
    border-collapse: separate !important;
    border-spacing: 12px 0 !important;

}
.table-content thead tr th {
    border-bottom: 1px solid black;
    
}

.table-content td {
    border-bottom: 1px solid #c9bebe;

}
.delete-icon{
    color: rgb(220 53 69);
}

 .td-without_border{
    border-bottom: none !important;
    border-bottom-width: 0px;
}
a .page-link{
    display: none !important;
}

.page-link{
    color: rgb(220 53 69) !important;
}
.pagination-active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(220 53 69) !important;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}
.btn-filter .dropdown-toggle::after {
    display: none !important; 
  }
/* .btn-createnewuser{
    background-color: rgb(220 53 69) !important;
    color: rgb(255, 255, 255) !important;
    border: none;
} */
.btn-primary{
    background-color: rgb(220 53 69) !important;
    color: rgb(255, 255, 255) !important;
    border: none;
}

.filter-button {
    width: 126px;
    height: 40px;
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
    border: rgb(206 212 218) 1px solid !important;
  }
  
  .filter-button,
  .filter-button:hover,
  .filter-button.btn-check:focus + .btn,
  .btn:focus {
    border: var(--2px) solid rgb(255, 255, 255) ;
    background-color: var(--bs-white);
    color: var(--bs-black);
  }
  
  .filter-button .fb-icon {
    border-left: 2px solid #ced4da;
    padding-left: 5px;
  }
  
  button.filter-button.dropdown-toggle::after {
    content: none;
    align-items: center;
  }

  .search-create{
    height: 40px;

    margin-right: 40px;
  }
  #btn-createnewuser{
    width: 300px;
  }
  .search-bar{
    margin-right: 40px;
  }

.form-check-input:checked{
    background-color: rgb(220 53 69) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(220 53 69) !important;
}