html {
    height:100%;
  }
  
  body {
    margin:0;
    font-family: 'Nunito', sans-serif;
  }
  
  .content {
    background-color:rgba(255,255,255);
    /* box-sizing:border-box; */
    left:50%;
    padding:5vmin;
    top:50%;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  .btn-submit{
    width: -webkit-fill-available;
    background-color: rgb(214,0,28) !important;
  }
  .img-login{
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .err-msg{
    color: red;
    font-size: 16px;
    align-items: center;
    margin-bottom: 25px;
    }