.search {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid grey;
  }

form.search input[type=text] {
    /* padding: 10px; */
    /* font-size: 17px; */
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    /* border: 1px solid grey; */
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.search button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid grey;
  }
