.modal-body {
    div {
        #create-returning {
            background: #e9424d;
            color: #fefafa;
            border-width: 0;
        }
        #cancel-create-returning {
            background: #fafcfc;
            color: #7e8183;
            border-color: #7e8183;
        }
    }
}
#modalText {
    padding-left: 26px;
    padding-right: 36px;
}
