.modal-backdrop{
    background: rgba(255,255,255 , 20) !important;
}

.modal-content{
    border-color: #7e8183 !important;
    border-width: 1px !important;
    background-color: #FAFCFC !important;
}
.modal-header{
    background: #EFF1F5;
    color: #CF283D;
    border-color: #7e8183 !important;
    padding: 20px !important;
    .row{
        margin: 0;
    }
    .modal-title{
        padding: 0 0;
        font-weight: 700;
        font-size: 20px;
    }
}

.modal-body{
    background: transparent;//#FAFCFC;
    color: #4D5154;
    padding: 20px !important;
    .row{
        margin: 10px 0;

        #saveButton{
            background: #E9424D;
            color: #FEFAFA;
            border-width: 0;
        }
        #cancelButton{
            background: #FAFCFC;
            color: #7e8183;
            border-color: #7e8183;
        }
        #oldPasswordInput:focus{
            box-shadow: none !important;
            border-right: none;
        }
        #newPasswordInput:focus{
            box-shadow: none !important;
            border-right: none;
        }
        #oldPasswordButton:focus{
            box-shadow: none !important;
        }
        #newPasswordButton:focus{
            box-shadow: none !important;
        }
        #oldPasswordInput{
            border-color: #7e8183;
        }
        #newPasswordInput{
            border-color: #7e8183;
        }
        #oldPasswordButton{
            border-left: none;
            background-color: white;
            border-color: #7e8183;
            svg{
                fill: black;
            }
        }
        #newPasswordButton{
            border-left: none;
            background-color: white;
            border-color: #7e8183;
            svg{
                fill: black;
            }
        }
        #oldPasswordButton:hover{
            border-left: none;
            background-color: white;
        }
        #newPasswordButton:hover{
            border-left: none;
            background-color: white;
        }
        #oldPasswordError{
            color: #e73a44;
            margin: -10px 0;
        }
        #newPasswordError{
            color: #e73a44;
            margin: -10px 0;
        }
    }
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#changePassword{
    margin-left: -18px !important;

}
.modal-content{
    margin-top: 147px !important;
}