table {
    border-collapse: separate !important;
    border-spacing: 12px 0 !important;
    

}
.table-content tr{
    border-collapse: separate !important;
    border-spacing: 12px 0 !important;

}
.table-content thead tr th {
    border-bottom: 1px solid black;
    
}

.table-content td {
    border-bottom: 1px solid #c9bebe;

}


